In [12]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [8]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [4]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv.gz', iterator = True, chunksize = 100000)

In [5]:
df = next(df_iter)

In [6]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1.0,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1.0,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1.0,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1.0,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1.0,0.0

In [9]:
# to get the schema
df.head(n=0).to_sql('green_taxi_data', con=engine, if_exists='replace')

0

In [10]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [11]:
df.to_sql('green_taxi_data', con=engine, if_exists='append')

1000

In [13]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql('green_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print('Ingesting data..... time taken %.2f' % (t_end - t_start))

Ingesting data..... time taken 7.01
Ingesting data..... time taken 6.96

/var/folders/_5/h0pwj9_d6w1_95cqd2tl4x800000gn/T/ipykernel_34118/2594230838.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Ingesting data..... time taken 5.78
Ingesting data..... time taken 4.69

StopIteration:

In [15]:
df = pd.read_csv('taxi_zone_lookup.csv')

In [18]:
df.head(0).to_sql('zone', con= engine, if_exists='replace')

0

In [20]:
df.to_sql('zone', con = engine, if_exists='append')

265